$fog         : #F4F4F4;
$sandstone   : #F9F6EF;
$cardinal    : #8C1515;
$dark-red    : #820000;
$bright-red  : #B1040E;
$sidebar-color: $fog;
$code-background-color: $fog;
$link-color: $bright-red;
$btn-primary-color: $dark-red;
